EasyProcess==0.1.9
Flask==0.10.1
Jinja2==2.11.3
MarkupSafe==0.23
PyVirtualDisplay==0.1.5
Werkzeug==0.10.4
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
defer==1.0.4
html5lib==0.999
itsdangerous==0.24
language-selector==0.1
pycurl==7.19.3
pygobject==3.12.0

requests==2.2.1
selenium==2.46.0
six==1.5.2
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
wheel==0.24.0
