<!DOCTYPE html>
<html>
<head>
    <title>secret</title>
    <!-- Bootstrap CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        form#add-post{padding:15px;}
    </style>
</head>

<body>

    <div class="container">


        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posts</h3>
                    </div>
                    <ul>
                         {% for p in posts %}
                            <li>{{p}}</li>
                         {% endfor %}
                     </ul>
                </div>
                

            </div>

        </div><!-- row-->

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add new post</h3>
                    </div>
                    
                    <form id="add-post" action="{{ url_for('add') }}"  method="post">
                        <p> Enter the post dude</p>
                        <input type="text" name="post">
                        <input type="submit"  class="btn btn-primary" value="Send the post, man">
                    </form>
                </div>

            </div>

        </div>



    </div><!-- container -->
</body>
</html>